#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  margin-top:1rem;
  display: flex;
  justify-content: space-evenly;
}

input {
  margin-right: 15px;
  width: 200px;
  padding: 10px;
}

button {
  width: 150px;
  color:white;
  background: rgb(170, 69, 69);
  text-decoration: none;
  padding: 10px 52px;
  box-shadow: 0 2px 5px -2px black;
}

button:hover {
  cursor: pointer;
  background-color: rgb(206, 178, 145);
}